apiVersion: v1
kind: Secret
metadata:
  namespace: default
  name: myapp-tls
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', 'tls.crt') | b64encode }}"
  tls.key: "{{ lookup('file', 'tls.key') | b64encode }}"
